/* ====================================   Global fonts   ==================================== */

// Font Noto serif
@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans.eot');
    src: local('☺'),
    url('../fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSans.woff2') format('woff2'),
    url('../fonts/NotoSans.woff') format('woff'),
    url('../fonts/NotoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-Italic.eot');
    src: local('☺'),
    url('../fonts/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSans-Italic.woff2') format('woff2'),
    url('../fonts/NotoSans-Italic.woff') format('woff'),
    url('../fonts/NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-Bold.eot');
    src: local('☺'),
    url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSans-Bold.woff2') format('woff2'),
    url('../fonts/NotoSans-Bold.woff') format('woff'),
    url('../fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-BoldItalic.eot');
    src: local('☺'),
    url('../fonts/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-BoldItalic.woff') format('woff'),
    url('../fonts/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



// Font RobotoCondensed
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: local('☺'),
    url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
    url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: local('☺'),
    url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
    url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Font Noto serif
@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif.eot');
    src: local('☺'),
    url('../fonts/NotoSerif.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSerif.woff2') format('woff2'),
    url('../fonts/NotoSerif.woff') format('woff'),
    url('../fonts/NotoSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-Italic.eot');
    src: local('☺'),
    url('../fonts/NotoSerif-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSerif-Italic.woff2') format('woff2'),
    url('../fonts/NotoSerif-Italic.woff') format('woff'),
    url('../fonts/NotoSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-Bold.eot');
    src: local('☺'),
    url('../fonts/NotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSerif-Bold.woff2') format('woff2'),
    url('../fonts/NotoSerif-Bold.woff') format('woff'),
    url('../fonts/NotoSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-BoldItalic.eot');
    src: local('☺'),
    url('../fonts/NotoSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSerif-BoldItalic.woff2') format('woff2'),
    url('../fonts/NotoSerif-BoldItalic.woff') format('woff'),
    url('../fonts/NotoSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
